

.App{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url('../assets/background-form.png');
    background-size: cover;
    background-position: center;
}
.view-details{
    display: flex;
    justify-content: center;
    
}
@media (max-width: 768px) {
    .App{
        background-size: cover;
        background-position: center;
    }
    .view-details {
        padding: 10px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left:0px;
    }
    .tripList{
        margin-left: 50px;
    }
}
